<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY APP</title>
    <link id="favicon" rel="shortcut icon" href="/favicon.png" sizes="16x16 32x32 48x48" type="image/png">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="dark-theme">
    <header>
        <h2>Store Inventory System</h2>
    </header>
    <main>
        <section class="not-found-page">
            <h2> Page not found! </h2>
            <a href="/">
                <img src="/image/404.jpg" alt="404cat">
                <p> Return to main page</p>
            </a>
        </section>
    </main>
    <footer>
        <ul class="footer-personal-info">
            <li>© 2020 Yiji Huang</li>
            <li class="footer-divider"></li>
            <li>
                <span>E-mail: </span>
                <a href="mailto:huang.yiji@husky.neu.edu">huang.yiji@husky.neu.edu</a>
            </li>
        </ul>
    </footer>
    <script type="module" src="/js/index.js"></script>
</body>
</html>