<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY APP</title>
    <link id="favicon" rel="shortcut icon" href="/favicon.png" sizes="16x16 32x32 48x48" type="image/png">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="dark-theme">
    <header>
        <h2>Store Inventory System</h2>
    </header>
    <main>
        <div class="error">
            Error: message
        </div>
        <div class="loading">
            Loading...
        </div>
        <div id="stage">
        </div>
        <template id="login">
            <div class="login-page">
                <label for="user-name">User Name: </label>
                <input id="user-name" type="text">
                <button class="signin">submit</button>
            </div>
        </template>
        <template id="items">
            <section class="items-list">
                <h5 class="items-title">Current Items</h5>
                <div class="items-detail">
                </div>
                <div class="items-action">
                    <span>Item name:</span>
                    <input type="text" class="name" minlength="1">
                    <span>Quantity:</span>
                    <input type="number" class="quantity" min="0">
                    <button class="add">Add</button>
                </div>
                <div class="user-action">
                    <button class="signout">Sign out</button>
                </div>
            </section>
        </template>
        <template id="item">
            <div class="single-item">
                <div class="item-name">name</div>
                <input type="number" class="quantity" min="0">
                <button class="update">Update</button>
                <button class="delete">X</button>
            </div>
        </template>
    </main>
    <footer>
        <ul class="footer-personal-info">
            <li>© 2020 Yiji Huang</li>
            <li class="footer-divider"></li>
            <li>
                <span>E-mail: </span>
                <a href="mailto:huang.yiji@husky.neu.edu">huang.yiji@husky.neu.edu</a>
            </li>
        </ul>
    </footer>
    <script type="module" src="/js/main.js"></script>
</body>
</html>