:root {
  --normal-text-size: 16px;
}
.dark-theme {
  --background-color: #1a1d21;
  --hover-background-color: #262b31;
  --text-color: #d1d2d3;
  --minor-text-color: #858585;
  --highlight-text-color: white;
  --clickable-text-color: #1cb3ff;
  --clickable-text-hover-color: #eb872b;
  --line-color: rgba(209, 210, 211, 0.4);
  --button-text-color: white;
  --button-hover-text-color: white;
  --button-background-color: #007a5a;
  --button-hover-background-color: #148567;
  --input-background-color: rgba(232, 232, 232, 0.04);
  --input-border-color: rgba(232, 232, 232, 0.5);
  --text-error-color: #ff8578;
  --error-color: #ff8578;
}
.light-theme {
  --background-color: white;
  --hover-background-color: rgb(248, 248, 248);
  --text-color: rgb(29, 28, 29);
  --minor-text-color: rgb(102, 102, 102);
  --highlight-text-color: #black;
  --clickable-text-color: #201cff;
  --clickable-text-hover-color: #8a00a5;
  --line-color: rgb(29, 28, 29);
  --button-text-color: #600ba2;
  --button-hover-text-color: white;
  --button-background-color: white;
  --button-hover-background-color: #600ba2;
  --button-border-color: #600ba2;
  --input-background-color: white;
  --input-border-color: rgb(29, 28, 29);
  --text-error-color: #a52826;
  --error-color: #a52826;
}
.App {
  font-family: 'Baloo Paaji 2', cursive;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--clickable-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--clickable-text-hover-color);
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  transition: background-color 0.2s, color 0.2s;
  box-sizing: border-box;
  border: 1px solid var(--button-border-color);
  padding: 0.4em 1em;
  border-radius: 5px;
  font-size: var(--normal-text-size);
}

button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}
button[disabled],
button[disabled]:hover {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  opacity: 0.2;
  cursor: default;
}
textarea,
input {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  color: var(--text-color);
  padding: 6px 16px;
  font-size: 16px;
}
input[type="number"] {
  padding-right: 8px;
}

header {
  border-bottom: 1px solid var(--line-color);
}

footer {
  border-top: 1px solid var(--line-color);
}
body,
html {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 820px;
  margin: 0px;
  min-height: 580px;
}

header {
  flex: 0 0 auto;
  text-align: center;
  box-sizing: border-box;
  /* height: 80px; */
}

.logo-title {
  height: 40px;
}

.navigations {
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style: none;
}
.navigations ol {
  margin-left: auto;
}
.nav {
  display: inline-block;
  margin-right: 1em;
  color: var(--clickable-text-color);
}
.nav:hover {
  color: var(--clickable-text-hover-color);
  cursor: pointer;
  text-decoration: underline;
}

main {
  flex: 1 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 310px;
  width: 980px;
  margin: 0px auto;
}
.home {
  height: 660px;
  overflow-y: auto;
  margin-bottom: 2em;
  width: 100%;
}
.article-action {
  margin-right: 1em;
  margin-bottom: 1em;
}

.article-edit {
  display: grid;
  grid-template-columns: 6em 1fr;
  row-gap: 1em;
}
.article-edit .content {
  resize: vertical;
}
.article-edit .tags {
  overflow: hidden;
  word-break: break-all;
  min-height: 47px;
}
.article-edit .tags .tag-edit {
  display: inline-block;
  margin-right: 0.4em;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 0px 5px;
  margin-bottom: 1em;
  user-select: none;
}
.article-edit .tags .tag-edit .tag-delete {
  display: inline-block;
  font-size: smaller;
  border: 1px solid var(--button-background-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: 2px;
  margin: 2px 2px 2px 6px;
  padding: 1px 2px;
}
.article-edit .tags .tag-edit .tag-delete:hover {
  cursor: pointer;
}
.article-edit .new-tag {
  margin-right: 1em;
}

.article-detail {
  max-height: 620px;
  overflow-y: auto;
}

.article-detail .title {
  text-align: center;
  margin: 0px;
  padding: 0px;
  word-break: break-all;
  white-space: pre-line;
}
.article-detail .meta {
  font-size: smaller;
  text-align: center;
  color: var(--minor-text-color);
}
.article-detail .sperator {
  margin: 0px 1em;
}

.article-detail .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5em;
}
.article-detail .tags > *{
  word-break: break-all;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.article-detail .tags .tag {
  font-size: small;
  line-height: 2em;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  padding: 0px 0.5em;
}
.article-detail .tags img {
  height: 1.5em;
}
.article-detail .content {
  min-height: 300px;
  word-break: break-all;
  white-space: pre-line;
}
.article-detail .thumbup {
  display: flex;
  align-items: center;
}
.article-detail .thumbup img {
  height: 2em;
}
.article-detail .thumbup img:hover {
  cursor: pointer;
}
.article-brief {
  margin-bottom: 2em;
}
.article-brief .seperator {
  height: 2px;
  width: 100%;
  background-color: var(--line-color);
  margin: 1em 0px;
}
.article-brief .article {
  padding-bottom: 2em;
  padding-top: 1em;
  border-top: 1px dashed var(--line-color);
}
.article-brief .title {
  font-size: larger;
  margin: 0px;
  padding: 0px;
  color: var(--clickable-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 920px;
  display: inline-block;
}
.article-brief .title:hover {
  color: var(--clickable-text-hover-color);
  cursor: pointer;
  text-decoration: underline;
}
.article-brief .content {
  margin: 0px 0px 1em 0px;
  padding: 0px;
  max-width: 920px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.article-brief .tags {
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  align-items: center;
}
.article-brief .tags .tag-icon {
  height: 2em;
  margin-right: 0.5em;
}
.article-brief .tags .tag {
    line-height: 1.5em;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 0px 0.5em;
    margin-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8em;
}

footer {
  flex: 0 0 auto;
  text-align: center;
  padding: 20px 0px;
  box-sizing: border-box;
  height: 90px;
}
.loading {
  text-align: center;
  margin-top: 2em;
}
#stage {
  width: 620px;
  margin: 0px auto;
  height: 100%;
}

.login-page {
  padding-top: 200px;
  text-align: center;
}
#user-name {
  margin: 0px 1em;
}

.error {
  padding: 1em 0px;
  text-align: center;
  color: var(--error-color);
  visibility: hidden;
  height: 56px;
  box-sizing: border-box;
}
.error.display {
  visibility: visible;
}


.footer-personal-info {
  list-style: none;
}

.footer-personal-info li {
  display: inline-block;
}

.footer-divider::before {
  content: '|';
  user-select: none;
  margin: 0px 1em;
}  