<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVENTORY APP</title>
    <link id="favicon" rel="shortcut icon" href="/favicon.ico" sizes="16x16 32x32 48x48" type="image/png">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="dark-theme">
    <header>
        <h2>Yummy Tummy</h2>
    </header>
    <main>
        <div class="error">
            Error: message
        </div>
        <div id="recipe-stage">
        </div>
        <div id="user-stage">
        </div>
        <template id="list">
            <section>
                <h4>Recipe List</h4>
                <ul id="list-content"></ul>
            </section>
        </template>
        <template id="list-recipe">
                <li class="recipe-item">
                    <a class="recipe-title"></a>
                </li>
        </template>
        <template id="recipe-detail">
            <section class="recipe-detail">
                <h4>Recipe Detail</h4>
                <div class="recipe-layout-area">
                    <button class="back">Back</button>
                </div>
                <div class="recipe-layout-area">
                    <div>Title: </div>
                    <div class="recipe-detail-title"></div>
                </div>
                <div class="recipe-layout-area">
                    <div>Author: </div>
                    <div class="recipe-author"></div>
                </div>
                <div class="recipe-layout-area">
                    <div>Ingredients: </div>
                    <div class="recipe-ingredients"></div>
                </div>
                <div class="recipe-layout-area">
                    <div>Instructions: </div>
                    <div class="recipe-instructions"></div>
                </div>
            </section>
        </template>
        <template id="recipe-add">
            <section>
                <h4>Add Recipe</h4>
                <div class="recipe-layout-area">
                    <button class="back">Back</button>
                    <span class="success-message">Submit Success! Going back to recipe list...</span>
                </div>
                <form action="" class="recipe-form">
                    <div class="recipe-layout-area">
                        <label for="recipe-title">Title</label>
                        <input type="text" id="recipe-add-title" required>
                    </div>
                    <div class="recipe-layout-area">
                        <label for="recipe-ingredients">Ingredients</label>
                        <textarea id="recipe-ingredients" required></textarea>
                    </div>
                    <div class="recipe-layout-area">
                        <label for="recipe-instructions">Instructions:</label>
                        <textarea id="recipe-instructions" required></textarea>
                    </div>
                    <div class="recipe-submit">
                        <button type="submit" class="submit">Submit</button>
                    </div>
                </form>
            </section>
        </template>
        <template id="anonymous">
            <label for="username">User Name: </label>
            <input type="text" name="usename" id="username">
            <button id="sign-in">sign in</button>
        </template>
        <template id="logged-in">
            <button id="sign-out">Sign Out</button>
            <button id="add">Add Item</button>
        </template>
    </main>
    <footer>
        <ul class="footer-personal-info">
            <li>© 2020 Yiji Huang</li>
            <li class="footer-divider"></li>
            <li>
                <span>E-mail: </span>
                <a href="mailto:huang.yiji@northeastern.edu">huang.yiji@northeastern.edu</a>
            </li>
        </ul>
    </footer>
    <script src="/dist/app-bundle.js"></script>
</body>
</html>